<!DOCTYPE html>
<html>
<head>
    <title>Login | Logitech Express</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/logo.jpg" type="image/jpg">
    <script src="../app.js"></script>
</head>
<body style="background-image: url(images/login.jpg);">
    <div class="navbar">
        <a class="option" href="/">Home</a>
    </div>
    <div class="login-box">
        <h1>LOGIN</h1>
        <form>
            <div class = "form-input">
                <input type="username" name="username" placeholder="Username" required>
            </div>
                <br>
            <div class = "form-input">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <br>
            <input type="submit" value="LOGIN" class="btn-login"/>
        </form>
    </div>
</body>
</html>