<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/logo.jpg" type="image/jpg">
    <link rel="stylesheet" href="css/style.css">
    <script src="../../app.js"></script>
    <title>Success | Logitech Express</title>
</head>
<body style="background-image: url(images/login.jpg);">
    <div class = "content-panel">
        <h1 class = "success">SUCCESS!</h1>
        <div class = "content-success">
            <p>You have successfully booked a trip!</p>
            <p>Present Reservation ID <%= resId %> to the counter and pay amount of ₱<%= amount %>.00.</p><br>
            <button class="homeButton" type="button" onclick="home()">Home</button>
            <button class="bookButton" type="button" onclick="viewTrips()">Book Again</button>
        </div>
    </div>
    <script>
        function home() {
                window.location.href='/home'
        }

        function viewTrips() {
            window.location.href='/viewTrips'
        }
    </script>
</body>
</html>