@font-face {
    font-family: Vigrand;
    src: url('../fonts/Vigrand-Regular.ttf');
}

.carousel {
    position: absolute;
    z-index: -1; 
}

.car-image {
    margin: 0px;
    padding: 0px;
    width: 1900px;
    height: 950px;
    bottom: 25px;
    overflow-y: hidden;
}

.welcome {
    color: white;
    font-family: Vigrand;
    font-size: 150px;
    left: 675px;
    padding-top: 300px;
    position: absolute;
}

.button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25px;
    padding: 10px;
    margin-top: 550px;
    left: 900px;
    width: 100px;
    height: 24px;
    text-align: center;
    background-color: white;
    position: fixed;
}

.nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    padding: 50px;
    z-index: -1;
}

.login-box {
    border-style: ridge;
    border-radius: 25px;
    text-align: center;
    left: 50px;
    margin-top: 200px; 
    margin-left: 775px;
    width: 300px;
    height: 200px;
}